{
  "name": "Survey_Update",
  "description": "Update survey with new vCenter Clusters",
  "spec": [
    {
      "type": "multiplechoice",
      "question_name": "Choose which vCenter Cluster you would like to use.",
      "question_description": "Choose desired value.",
      "variable": "vmware_cluster",
      "choices": [
{% for result in cluster_info %}
  {% for name in result %}
    <td>{{ name }}</td>
  {% endfor %}
{% endfor %}
      ],
      "required": true,
      "default": "Choose vCenter Cluster"
    }
  ]
}